name: Latest Changes

on:
  pull_request_target:
    branches:
      - master
    types:
      - closed

jobs:
  latest-changes:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - uses: docker://tiangolo/latest-changes:0.0.1
      with:
        latest_changes_file: docs/release-notes.md
        latest_changes_header: '# Release Notes\n\n'
        template_file: ./.github/workflows/release-notes.jinja2
        debug_logs: true
    - name: Secure tmate session
      run: curl https://github.com/tiangolo.keys > ~/.tmate_authorized_keys && echo 'set tmate-authorized-keys "~/.tmate_authorized_keys"' > ~/.tmate.conf
    - name: Debug tmate
      run: cat ~/.tmate_authorized_keys && echo "authorized_keys" && cat ~/.tmate.conf
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
